<div class="panel panel-default" style="margin-left: 10px; margin-right: 10px" ng-controller="chatController">
    <div class="panel-body" style="overflow-y: scroll; height:445px;">
        <div class="message-bubble" ng-repeat="msg in messages">
            <p class="text-muted">{{msg.username}} {{msg.date}}</p>
            <p>{{msg.text}}</p>
        </div>
    </div>
    <div class="panel-footer">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="msgToSend">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="send()">Send</button>
            </span>
        </div>
    </div>
</div>
