<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="center-box">
                <div ng-controller="loginController">
                    <input type="text" ng-model="username"/>
                    <button ng-click="login()">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>